@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model asari.com.tr.Application.Features.Educations.Commands.Create.CreateEducationCommand;


@{
    ViewData["Title"] = "Eğitim Ekle";
}

@* Hata Mesajlarını göstermek için farklı bir cshtml dosyası kullanılmıştır. *@
@await Html.PartialAsync("~/Areas/Admin/Views/PartialView_GenelKullanilanKodlar/_PartialViewError.cshtml")


<br />
<h2>Eğitim Ekle</h2>
<hr />

<form asp-action="Add" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label col-md-3">Okul</label>
        <div class="col-md-9">
            <input type="text" asp-for="Name" placeholder="Örn: İstanbul Üniversitesi" class="form-control text-info" />
            <span asp-validation-for="Name" class="text-danger" id="txtKotrol"></span>
            @*<span id="txtEror">@ViewBag.ExceptionErrorMessage</span>*@

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Derece</label>
        <div class="col-md-9">
            <input type="text" asp-for="Grade" placeholder="Örn: Lisans" class="form-control text-info" />
            <span asp-validation-for="Grade" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Bölüm</label>
        <div class="col-md-9">
            <input type="text" asp-for="FieldOfStudy" class="form-control text-info" />
            <span asp-validation-for="FieldOfStudy" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Başlangıç Tarihi</label>
        <div class="col-md-9">
            <input type="date" asp-for="StartDate" class="form-control text-info" />
            <span asp-validation-for="StartDate" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Bitiş Tarihi</label>
        <div class="col-md-9">
            <input type="date" asp-for="EndDateOrExcepted" placeholder="alisari41@outlook.com" class="form-control text-info" />
            <span asp-validation-for="EndDateOrExcepted" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Not Ortalaması</label>
        <div class="col-md-9">
            <input type="number" step="any" name="Degree" asp-for="Degree" class="form-control text-info" /> @* DOUBLE kullanımı type="number" step="any" kullanarak controllera sayıyı yolluyorum sonrasında dobule kullanmayı sağlıyorum*@
            <span asp-validation-for="Degree" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            Faaliyet ve topluluklar
        </label>
        <div class="col-md-9">
            <input type="text" asp-for="ActivityAndCommunity" placeholder="Örn: Alpha Phi Omega, Voleybol, Münzara ekibi, Yüzme" class="form-control text-info" />
            <span asp-validation-for="ActivityAndCommunity" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Açıklama</label>
        <div class="col-md-9">
            <input type="text" asp-for="Description" class="form-control text-info" />
            <span asp-validation-for="Description" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Media URL</label>
        <div class="col-md-9">
            <input type="text" asp-for="MediaUrl" class="form-control text-info" id="txtInternalNo" />
            <span asp-validation-for="MediaUrl" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-default guncellemebuton" style="margin-left: 5px; border: 2px solid #4db3ff;" id="btnAdd">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
                &nbsp; Kaydet
            </button>
        </div>
    </div>
</form>
<a asp-action="GetList" class="btn btn-outline-warning mb-2 ml-2" asp-route-Page="0" asp-route-PageSize="15">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z" />
    </svg> Geri Dön
</a>