@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model asari.com.tr.Application.Features.ProjectSkills.Commands.Create.CreateProjectSkillCommand;
@*@model Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Projects.Queries.GetList.GetListProjectListItemDto>*@


@{
    ViewData["Title"] = "Proje Yeteneği Yeteneği Ekle";
}

<br />
<h2>Proje Yeteneği Ekle</h2>
<hr />

@* Hata Mesajlarını göstermek için farklı bir cshtml dosyası kullanılmıştır. *@
@await Html.PartialAsync("~/Areas/Admin/Views/PartialView_GenelKullanilanKodlar/_PartialViewError.cshtml")

@{
    if (!(ViewBag.AuthorizationErrorMessage != null || ViewBag.AuthorizationErrorStackTrace != null
    || ViewBag.BusinessErrorMessage != null || ViewBag.BusinessErrorStackTrace != null
    || ViewBag.NotFoundErrorMessage != null || ViewBag.NotFoundErrorStackTrace != null
    || ViewBag.ExceptionErrorMessage != null || ViewBag.ExceptionErrorStackTrace != null
    || ViewBag.ValidationErrorMessage != null || ViewBag.ValidationErrorStackTrace != null))
    {
        <!-- Project Modal -->
        <div class="modal fade" id="ProjectModal" tabindex="-1" role="dialog" aria-labelledby="ProjectModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ProjectModalLabel">Select an Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body " style="max-height: 500px; overflow-y: auto;">
                        <div id="ProjectTable">
                            @await Html.PartialAsync("~/Areas/Admin/Views/Projects/_PartialViewProjectList.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Projects.Queries.GetList.GetListProjectListItemDto>)ViewBag.ProjectList)

                            @await Html.PartialAsync("~/Areas/Admin/Views/Projects/_PartialViewDigerSayfalarIcinProjectSayfalama.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Projects.Queries.GetList.GetListProjectListItemDto>)ViewBag.ProjectList)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">
                Proje
            </label>
            <div class="input-group mb-1 col-md-9">
                <input type="text" asp-for="ProjectId" class="form-control text-info" id="selectedProjectName" placeholder="Proje Yeteneği Seç 'Örn: Kişisel Web Sitesi...'" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#ProjectModal" data-controller="Projects">
                        Proje Seç
                    </button>
                </div>
            </div>
        </div>

        <!-- Skill Modal -->
        <div class="modal fade" id="SkillModal" tabindex="-1" role="dialog" aria-labelledby="SkillModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SkillModalLabel">Select an Skill</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body " style="max-height: 500px; overflow-y: auto;">
                        <div id="skillTable">
                            @await Html.PartialAsync("~/Areas/Admin/Views/Skills/_PartialViewSkillList.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Skills.Queries.GetList.GetListSkillListItemDto>)ViewBag.SkillList)

                            @await Html.PartialAsync("~/Areas/Admin/Views/Skills/_PartialViewDigerSayfalarIcinSkillSayfalama.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Skills.Queries.GetList.GetListSkillListItemDto>)ViewBag.SkillList)

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">
                Yetenek
            </label>
            <div class="input-group mb-1 col-md-9">
                <input type="text" asp-for="ProjectId" class="form-control text-info" id="selectedSkillName" placeholder="Yetenek Seç 'Örn: c#, c++, asp.net core...'" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                @*<input type="hidden" id="selectedSkillId">*@
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#SkillModal" data-controller="Skills">
                        Yetenek Seç
                    </button>
                </div>
            </div>
        </div>


        <form asp-action="Add" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group ">
                <input type="hidden" asp-for="ProjectId" class="form-control" id="selectedProjectId" placeholder="Proje Yeteneği Seç" aria-describedby="basic-addon2" readonly>
                <span asp-validation-for="ProjectId" class="text-danger" id="txtKotrol"></span>
            </div>
            <div class="input-group ">
                <input type="hidden" asp-for="SkillId" class="form-control" id="selectedSkillId" placeholder="Yetenek Seç" aria-describedby="basic-addon2" readonly>
                <span asp-validation-for="SkillId" class="text-danger" id="txtKotrol"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button id="btnAdd">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
                        &nbsp; Kaydet
                    </button>
                </div>
            </div>
        </form>
    }
}

<a asp-action="GetList" class="btn btn-outline-warning mb-2 ml-2" asp-route-Page="0" asp-route-PageSize="15">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z" />
    </svg> Geri Dön
</a>

<script>
    // Project Tablodan veri seçmek için buraya dokunma
    $(document).ready(function () {
        $(document).on('click', '.Project-item', function () {
            var ProjectName = $(this).text();
            var ProjectId = $(this).data('id');
            //var ProjectId = $(this).closest('tr').attr('data-id');
            $('#selectedProjectName').val(ProjectName);
            $('#selectedProjectId').val(ProjectId);
            $('#ProjectModal').modal('hide');
        });

        $(document).on('change', '#selectedProjectName', function () {
            $('#selectedProjectName').html('<p>' + $('#selectedProjectName').val() + '</p>');
        });
    });

    // Skill Tablodan veri seçmek için buraya dokunma
    $(document).ready(function () {
        $(document).on('click', '.skill-item', function () {
            var SkillName = $(this).text();
            var SkillId = $(this).data('id');
            $('#selectedSkillName').val(SkillName);
            $('#selectedSkillId').val(SkillId);
            $('#SkillModal').modal('hide');
        });

        $(document).on('change', '#selectedSkillName', function () {
            $('#selectedSkillName').html('<p>' + $('#selectedSkillName').val() + '</p>');
        });
    });
</script>