@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model asari.com.tr.Application.Features.ExperienceSkills.Commands.Update.UpdateExperienceSkillCommand;

@{
    ViewData["Title"] = "Deneyim Yeteneği Bilgilerini Güncelle";
}


@* Hata Mesajlarını göstermek için farklı bir cshtml dosyası kullanılmıştır. *@
@await Html.PartialAsync("~/Areas/Admin/Views/PartialView_GenelKullanilanKodlar/_PartialViewError.cshtml")

@{
    if (!(ViewBag.AuthorizationErrorMessage != null || ViewBag.AuthorizationErrorStackTrace != null
    || ViewBag.BusinessErrorMessage != null || ViewBag.BusinessErrorStackTrace != null
    || ViewBag.NotFoundErrorMessage != null || ViewBag.NotFoundErrorStackTrace != null
    || ViewBag.ExceptionErrorMessage != null || ViewBag.ExceptionErrorStackTrace != null
    || ViewBag.ValidationErrorMessage != null || ViewBag.ValidationErrorStackTrace != null))
    {
        <h2>Deneyim Yeteneği Bilgilerini Güncelle</h2>
        <hr />

        <!-- Experience Modal -->
        <div class="modal fade" id="ExperienceModal" tabindex="-1" role="dialog" aria-labelledby="ExperienceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ExperienceModalLabel">Select an Experience</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body " style="max-height: 500px; overflow-y: auto;">
                        <div id="ExperienceTable">
                            @await Html.PartialAsync("~/Areas/Admin/Views/Experiences/_PartialViewExperienceList.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Experiences.Queries.GetList.GetListExperienceListItemDto>)ViewBag.ExperienceList)

                            @await Html.PartialAsync("~/Areas/Admin/Views/Experiences/_PartialViewDigerSayfalarIcinExperienceSayfalama.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Experiences.Queries.GetList.GetListExperienceListItemDto>)ViewBag.ExperienceList)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">
                Deneyim
            </label>
            <div class="input-group mb-1 col-md-9">
                <input type="text" class="form-control text-info" id="selectedExperienceName" placeholder="Deneyim Seç 'Örn: Düzce Üniversitesi...'" value="@ViewBag.ExperienceName" readonly>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#ExperienceModal" data-controller="Experiences">
                        Deneyim Seç
                    </button>
                </div>
            </div>
        </div>


        <!-- Skill Modal -->
        <div class="modal fade" id="SkillModal" tabindex="-1" role="dialog" aria-labelledby="SkillModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SkillModalLabel">Select an Skill</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body " style="max-height: 500px; overflow-y: auto;">
                        <div id="skillTable">
                            @await Html.PartialAsync("~/Areas/Admin/Views/Skills/_PartialViewSkillList.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Skills.Queries.GetList.GetListSkillListItemDto>)ViewBag.SkillList)

                            @await Html.PartialAsync("~/Areas/Admin/Views/Skills/_PartialViewDigerSayfalarIcinSkillSayfalama.cshtml",(Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.Skills.Queries.GetList.GetListSkillListItemDto>)ViewBag.SkillList)

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">
                Yetenek
            </label>
            <div class="input-group mb-1 col-md-9">
                <input type="text" class="form-control text-info" id="selectedSkillName" placeholder="Yetenek Seç 'Örn: c#, c++, asp.net core...'" value="@ViewBag.SkillName" readonly>
                @*<input type="hidden" id="selectedSkillId">*@
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#SkillModal" data-controller="Skills">
                        Yetenek Seç
                    </button>
                </div>
            </div>
        </div>




        <form asp-action="Update" asp-route-Id="@Model.Id" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="input-group ">
                <input type="hidden" asp-for="ExperienceId" class="form-control" id="selectedExperienceId" placeholder="Deneyim Seç" aria-describedby="basic-addon2" readonly>
                <span asp-validation-for="ExperienceId" class="text-danger" id="txtKotrol"></span>
            </div>
            <div class="input-group ">
                <input type="hidden" asp-for="SkillId" class="form-control" id="selectedSkillId" placeholder="Yetenek Seç" aria-describedby="basic-addon2" readonly>
                <span asp-validation-for="SkillId" class="text-danger" id="txtKotrol"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn " id="btnEdit">
                        <span id="btnEdit__text">Güncelle</span>
                        <svg id="svgEdit" viewBox="0 0 512 512">
                            <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    }
}




<a asp-action="GetList" class="btn btn-outline-warning mb-2 ml-2" asp-route-Page="0" asp-route-PageSize="15">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z" />
    </svg> Geri Dön
</a>


<script>
    // Experience Tablodan veri seçmek için buraya dokunma
    $(document).ready(function () {
        $(document).on('click', '.Experience-item', function () {
            var ExperienceName = $(this).text();
            var ExperienceId = $(this).data('id');
            //var ExperienceId = $(this).closest('tr').attr('data-id');
            $('#selectedExperienceName').val(ExperienceName);
            $('#selectedExperienceId').val(ExperienceId);
            $('#ExperienceModal').modal('hide');
        });

        $(document).on('change', '#selectedExperienceName', function () {
            $('#selectedExperienceName').html('<p>' + $('#selectedExperienceName').val() + '</p>');
        });
    });

    // Skill Tablodan veri seçmek için buraya dokunma
    $(document).ready(function () {
        $(document).on('click', '.skill-item', function () {
            var SkillName = $(this).text();
            var SkillId = $(this).data('id');
            $('#selectedSkillName').val(SkillName);
            $('#selectedSkillId').val(SkillId);
            $('#SkillModal').modal('hide');
        });

        $(document).on('change', '#selectedSkillName', function () {
            $('#selectedSkillName').html('<p>' + $('#selectedSkillName').val() + '</p>');
        });
    });
</script>