@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Core.Persistence.Paging.GetListResponse<asari.com.tr.Application.Features.LicensesAndCertifications.Queries.GetList.GetListLicenseAndCertificationListItemDto>

@{
    ViewData["Title"] = "Lisanslar ve sertifikalar";

}

<script>

    function openPopup(url) {
        var width = 800;
        var height = 1000;
        var left = (window.innerWidth - width) / 2;
        var top = (window.innerHeight - height) / 2;
        var options = "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left;
        window.open(url, "", options);
    }

    function showConfirmationModal(id, name) {
        var modal = $('#silmeIslemiOnayModal_' + id);
        modal.modal('show');
    }
</script>


@* Hata Mesajlarını göstermek için farklı bir cshtml dosyası kullanılmıştır. *@
@await Html.PartialAsync("~/Areas/Admin/Views/PartialView_GenelKullanilanKodlar/_PartialViewError.cshtml")



<a href="/Admin/LicensesAndCertifications/Add" class="btn btn-outline-warning">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
    Lisans veya sertifika ekle
</a>



@* Tablodaki Verileri göstermek için farklı bir cshtml dosyası kullanılmıştır. *@
@await Html.PartialAsync("~/Areas/Admin/Views/LicensesAndCertifications/_PartialViewLicensesAndCertificationList.cshtml")



@* SAYFALAMA İÇİN KULLANILMIŞTIR. *@
@await Html.PartialAsync("~/Areas/Admin/Views/PartialView_GenelKullanilanKodlar/_PartialViewSayfalama.cshtml")