<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JWT</title>
</head>

<body>
    @{
        ViewBag.Title = "Ali SARI - Admin Paneli";
    }

    <h3>Hoşgeldin @User.Identity.Name 🥳</h3>
    @*<p>@ViewBag.Message</p>*@
    @*<small id="jwt">.</small>*@
</body>
</html>