@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model asari.com.tr.Application.Features.Projects.Commands.Create.CreateProjectCommand;


@{
    ViewData["Title"] = "Proje Ekle";
}

@* Hata Mesajlarını göstermek için farklı bir cshtml dosyası kullanılmıştır. *@
@await Html.PartialAsync("~/Areas/Admin/Views/PartialView_GenelKullanilanKodlar/_PartialViewError.cshtml")


<br />
<h2>Proje Ekle</h2>
<hr />

<form asp-action="Add" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label col-md-3">Başlık</label>
        <div class="col-md-9">
            <input type="text" asp-for="Title" placeholder="Örn: Kişisel Web Sitesi" class="form-control text-info" />
            <span asp-validation-for="Title" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Tanım/Açıklama</label>
        <div class="col-md-9">
            <input type="text" asp-for="Description" class="form-control text-info" />
            <span asp-validation-for="Description" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">ImageUrl</label>
        <div class="col-md-9">
            <input type="text" asp-for="ImageUrl" class="form-control text-info" />
            <span asp-validation-for="ImageUrl" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">İçerik</label>
        <div class="col-md-9">
            <textarea asp-for="Content" class="form-control text-info" id="editorid"></textarea> @* CKEditor  id="editorid" *@
            <span asp-validation-for="Content" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Github Link</label>
        <div class="col-md-9">
            <input type="text" asp-for="GithubLink" class="form-control text-info" />
            <span asp-validation-for="GithubLink" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Folder URL</label>
        <div class="col-md-9">
            <input type="text" asp-for="FolderUrl" class="form-control text-info" />
            <span asp-validation-for="FolderUrl" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Başlangıç Tarihi</label>
        <div class="col-md-9">
            <input type="date" asp-for="CreateDate" class="form-control text-info" />
            <span asp-validation-for="CreateDate" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button id="btnAdd">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
                &nbsp; Kaydet
            </button>
        </div>
    </div>
</form>

<a asp-action="GetList" class="btn btn-outline-warning mb-2 ml-2" asp-route-Page="0" asp-route-PageSize="15">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z" />
    </svg> Geri Dön
</a>


<script>
    $(document).ready(function () {
        CKEDITOR.replace('editorid'); @* CKEditor  id="editorid" *@
        });
</script>