@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model asari.com.tr.Application.Features.Technologies.Commands.Update.UpdateTechnologyCommand;

@{
    ViewData["Title"] = "Teknoloji Bilgilerini Güncelle";
}


@* Hata Mesajlarını göstermek için farklı bir cshtml dosyası kullanılmıştır. *@
@await Html.PartialAsync("~/Areas/Admin/Views/PartialView_GenelKullanilanKodlar/_PartialViewError.cshtml")


<h2>Teknoloji Bilgilerini Güncelle</h2>
<hr />

<form asp-action="Update" asp-route-Id="@Model.Id" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label class="control-label col-md-3">Başlık</label>
        <div class="col-md-9">
            <input type="text" asp-for="Title" placeholder="Örn: MVC (Model - Controller - View)" class="form-control text-info" />
            <span asp-validation-for="Title" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Tanım/Açıklama</label>
        <div class="col-md-9">
            <input type="text" asp-for="Description" class="form-control text-info" />
            <span asp-validation-for="Description" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">ImageUrl</label>
        <div class="col-md-9">
            <input type="text" asp-for="ImageUrl" class="form-control text-info" />
            <span asp-validation-for="ImageUrl" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">İçerik</label>
        <div class="col-md-9">
            <textarea asp-for="Content" class="form-control text-info" id="editorid"></textarea> @* CKEditor  id="editorid" *@
            <span asp-validation-for="Content" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-outline-success" style="margin-left: 5px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                </svg> Teknoloji Bilgilerini Güncelle
            </button>
        </div>
    </div>
</form>

<a asp-action="GetList" class="btn btn-outline-warning mb-2 ml-2" asp-route-Page="0" asp-route-PageSize="15">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z" />
    </svg> Geri Dön
</a>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('editorid'); @* CKEditor  id="editorid" *@
            });
</script>